<%- include('../../partials/head.ejs')  %> 

<div class="container my-5 ">
    <div class="row">
        <div class="col-md-6 offset-md-3 card card-body">
            <h3 class="mb-5 text-center">Login Your Account</h3>
            <form action="/auth/login" method="POST">
                <div class="form-group">
                    <label for="email">Enter your email</label>
                    <input type="text" name="email" id="email" class="form-control <%= error.email && 'is-invalid' %> ">
                    <div class="invalid-feedback">
                        <%= error.email && error.email %> 
                    </div>
                </div>
                <div class="form-group">
                    <label for="password">Enter your password</label>
                    <input type="password" name="password" id="password" class="form-control <%= error.password && 'is-invalid' %> ">
                    <div class="invalid-feedback">
                        <%= error.password && error.password %> 
                    </div>
                </div>
                <input type="submit" class="btn btn-primary" value="Log In">
            </form>
            <span class="mt-3 text-center">Do not have an account? <a href="/auth/signup" class="">Create here</a></span>
            
        </div>
    </div>
</div>

<%- include('../../partials/footer.ejs')  %>

 </body>
</html>